body {
	background-color: #D1E8DA;
	padding-top: 120px;
	font-size: 14px;
}

@media (min-width: 320px) {
	#nav-container #name {
		font-size: 1.5em;
	}
	#nav-container li {
		padding: 0;
		margin: 0;
		font-size: 5px;
	}
}

@media (min-width: 480px) {
    #nav-container #name {
        font-size: 1.75em;
    }
}

@media (min-width: 768px) {
    #nav-container #name {
        font-size: 2.0em;
    }
}

@media (min-width: 992px) {
    #nav-container #name {
        font-size: 2.5em;
    }
}

#nav-container {
	height: 12%;
	background-color: #04262F;
	padding-top: 14px;
	border: 0 none;	
}

#nav-container #name {
	color: #43CC94;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	padding-left: 0;
}

#nav-container li a {
	color: #43CC94;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

#nav-container li a:hover {
	color: #FFFFFF;
	background-color: #04262F;
}

.portfolio-item {
	margin-bottom: 25px;
}

.portfolio-item p {
	font-color: #FFFFFF;
}

#name {
	margin: 0px;
	color: #43CC94;
    font-size: 1.7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

#contact_info {
	color: #43CC94;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
	margin: 0;
	font-size: 1.25em;
}

.ci {
	margin: 4px 0px 0px 0px;
}

hr {
	background-color: #43CC94;
	color: #43CC94; 
	height: 2px;
	border: 0 none;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
