body {
	background-color: #D1E8DA;
	padding-top: 120px;
	font-size: 14px;
}

#nav-container {
	height: 12%;
	background-color: #04262F;
	padding-top: 14px;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin-botom: 0;	
}

#nav-container #name {
	color: #43CC94;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	padding-left: 0;
	font-size: 2.5em;
}

#nav-container .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

#nav-container li a {
	color: #43CC94;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background-color: #04262F;
}

#nav-container li a:hover {
	color: #FFFFFF;
	background-color: #04262F;
}

.portfolio-item {
	margin-bottom: 25px;
}

.portfolio-item p {
	font-color: #FFFFFF;
}

#name {
	margin: 0px;
	color: #43CC94;
    font-size: 1.7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

#contact_info {
	color: #43CC94;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
	margin: 0;
	font-size: 1.25em;
}

.ci {
	margin: 4px 0px 0px 0px;
}

hr {
	background-color: #43CC94;
	color: #43CC94; 
	height: 2px;
	border: 0 none;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
