body {
	background-color: #EEECE7;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

#nav-container {
	background-color: #04262F;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin-bottom: 0;	
}

#nav-container #name {
	color: #43CC94;
	font-weight: 800;
	margin: 0;
}

#nav-container .navbar-toggle {
	padding-top: 8px;
	font-size: 16px;
	color: #fff;
	outline: 0;
	border: 0;
	background-color: #04262F; 
}

#nav-container .navbar-toggle:focus,
#nav-container .navbar-toggle:active {
    outline: 0;
	background-color: #04262F;
}

#nav-container li a {
	color: #43CC94;
	font-size: 1.2em;
	font-weight: 300;
}

#nav-container li a:hover {
	color: #FFFFFF;
	background-color: #04262F;
}

#nav-container .top-nav-collapse {
	 border-bottom: 1px solid rgba(255,255,255,.3);
}

#page-content {
	padding-top: 80px;
}

#proj-content {
	margin-top: 40px;
	padding-bottom: 40px;
}

#proj-name {
	text-align: center;
	color: #43CC94;
	font-size: 2.85em;
	font-weight: 600;		
}

hr {
	background-color: #43CC94;
	color: #43CC94; 
	height: 2px;
	border: 0 none;
}

p {
	font-weight: 400;
	font-size: 1.0em;
}

.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-80px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-80px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h3 {
	margin-top:22px;
    margin-bottom: 4px;
    padding:0;
	color: #43CC94;
    font-size: 1.7em;
	font-weight: 600;
}

/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}

/* Custom, iPhone Retina */ 
@media (max-width: 426px) {

	#nav-container #name {
    	font-size: 1.75em;
    }

    #page-content {
    	padding-top: 120px;
    }

	#proj-name {
		font-size: 2.0em;
	}

	.timeline .timeline-heading h3 {
		margin-top:0px;
		margin-bottom: 4px;
		font-size: 1.25em;
		font-weight: 600;
	}

	.timeline .timeline-body p {
		font-size: 0.75em;
	}

	.timeline>li:nth-child(odd) .line:before {
		top: 80px;
		bottom: 0;
		left: 17%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li:nth-child(even) .line:before {
		top: 80px;
		bottom: 0;
		left: 17%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li .timeline-image {
		width: 100px;
		height: 100px;
		left: 2%;
		margin-left: 0px;
	}

    .timeline>li:nth-child(even) {
		right: 0px;
	}

	.timeline>li:nth-child(odd) {
		left: 0px;
	}

	.timeline > li .timeline-panel {
		float: right;
		width: 60%;
		padding: 0;
		text-align: left;
	}

	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		width: 60%;
		padding: 0;
		text-align: left;
	}

}

/* Custom, iPhone Retina */ 
@media (min-width: 427px) and (max-width: 480px) {

	#nav-container #name {
    	font-size: 1.75em;
    }

	#proj-name {
		font-size: 2.0em;
	}

	.timeline .timeline-heading h3 {
		margin-top:0px;
		margin-bottom: 4px;
		font-size: 1.25em;
		font-weight: 600;
	}

	.timeline .timeline-body p {
		font-size: 0.9em;
	}

	.timeline>li:nth-child(odd) .line:before {
		top: 80px;
		bottom: 0;
		left: 22%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li:nth-child(even) .line:before {
		top: 80px;
		bottom: 0;
		left: 22%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li .timeline-image {
		width: 140px;
		height: 140px;
		left: 5%;
		margin-left: 0px;
	}

    .timeline>li:nth-child(even) {
		right: 0px;
	}

	.timeline>li:nth-child(odd) {
		left: 0px;
	}

	.timeline > li .timeline-panel {
		float: right;
		width: 65%;
		text-align: left;
	}

	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		width: 65%;
		padding: 0 20px 20px 30px;
		text-align: left;
	}

}

/* Extra Small Devices, Phones */ 
@media (min-width: 481px) and (max-width: 630px) {

    #nav-container #name {
    	font-size: 1.75em;
    }

	#proj-name {
		font-size: 2.0em;
	}

	.timeline .timeline-heading h3 {
		margin-top: 0px;
		margin-bottom: 4px;
		font-size: 1.50em;
		font-weight: 600;
	}

	.timeline .timeline-body p {
		font-size: 0.9em;
	}

	.timeline>li:nth-child(odd) .line:before {
		top: 80px;
		bottom: 0;
		left: 22%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li:nth-child(even) .line:before {
		top: 80px;
		bottom: 0;
		left: 22%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li .timeline-image {
		width: 140px;
		height: 140px;
		left: 5%;
		margin-left: 0px;
	}

    .timeline>li:nth-child(even) {
		right: 0px;
	}

	.timeline>li:nth-child(odd) {
		left: 0px;
	}

	.timeline > li .timeline-panel {
		float: right;
		width: 65%;
		text-align: left;
	}

	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		width: 65%;
		padding: 0 20px 20px 30px;
		text-align: left;
	}

}

/* Extra Small Devices, Phones */ 
@media (min-width: 631px) and (max-width: 779px) {

    #nav-container #name {
    	font-size: 1.75em;
    }

	.timeline>li:nth-child(odd) .line:before {
		top: 80px;
		bottom: 0;
		left: 22%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li:nth-child(even) .line:before {
		top: 80px;
		bottom: 0;
		left: 22%;
		right: 0;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li .timeline-image {
		width: 160px;
		height: 160px;
		left: 10%;
		margin-left: 0px;
	}

    .timeline>li:nth-child(even) {
		right: 0px;
	}

	.timeline>li:nth-child(odd) {
		left: 0px;
	}

	.timeline > li .timeline-panel {
		float: right;
		width: 65%;
		text-align: left;
	}

	.timeline>li.timeline-inverted>.timeline-panel {
		float: right;
		width: 65%;
		padding: 0 20px 20px 30px;
		text-align: left;
	}

}

/* Extra Small Devices, Phones */ 
@media (min-width: 780px) and (max-width: 991px) {

	#proj-content {
		width: 100%;
	}

	#nav-container #name {
		font-size: 1.75em;
	}

	.timeline>li:nth-child(odd) .line:before {
		top: 80px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li:nth-child(even) .line:before {
		top: 80px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 4px;
		height: 250px;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Safari */
		transform: rotate(0deg);
	}

	.timeline>li .timeline-image {
		width: 160px;
		height: 160px;
		margin-left: -80px;
	}

    .timeline>li:nth-child(even) {
		right: 0px;
	}

	.timeline>li:nth-child(odd) {
		left: 0px;
	}

}

/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width:1199px) {

	#nav-container #name {
		font-size: 2em;
		padding-left: 0;
	}

	.timeline .timeline-body p {
		margin-left: 25px;
	}

	.timeline>li.timeline-inverted .timeline-body p {
		margin-left: 0px;
		margin-right: 25px;
	}

	.timeline>li:nth-child(odd) .line:before {
		top: 110px;
		bottom: 0;
		left: 550px;
		width: 4px;
		height:180px;
	}

	.timeline>li:nth-child(even) .line:before {
		top: 110px;
		bottom: 0;
		left: 400px;
		width: 4px;
		height:180px;
	}

	.timeline>li .timeline-image {
		width: 180px;
		height: 180px;
		margin-left: -90px;
	}

	.timeline>li:nth-child(odd) {
		left: -50px;
	}

}

@media (min-width: 1200px) {

	.timeline .timeline-body p {
		margin-left: 25px;
	}

	.timeline>li.timeline-inverted .timeline-body p {
		margin-left: 0px;
		margin-right: 25px;
	}

}